In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/eda_sample_data_file.csv')
df.columns

Index(['location', 'title', 'city', 'state', 'zip', 'country', 'job_type',
       'posted_at', 'job_reference', 'company', 'mobile_friendly_apply',
       'category', 'html_jobs', 'url', 'body', 'cpc'],
      dtype='object')

In [6]:
cols_to_show = ['title', 'city', 'state', 'zip', 'country', 'company', 'category', 'body']
df = df[cols_to_show]
df.head()

,title,city,state,zip,country,company,category,body
0,Retail Store Manager - Alabaster AL,Alabaster,AL,35007,United States,CVS Health,Retail,Job Description<br /> <br /> General Summary:<...
1,Financial Relationship Consultant - Pell City,Pell City,AL,35125,United States,Regions Financial Corporation,Accounting,Thank you for your interest in a career at Reg...
2,Prod Cook 3 PM Bob's Steak & Chop,Fort Worth,TX,76102,United States,Omni Hotels,Restaurant,Overview<br /> <br /> Job Description<br /> <b...
3,Quant Developer,Boston,MA,02298,United States,Ceres Group,Biotechnology/Pharmaceutical,We are looking for an Analyst to work in in co...
4,Human Resource Manager,Dulles,VA,20102,United States,Alpha Corporation,HR,Alpha Corporation established in 1979 is a ful...

In [5]:
df.mobile_friendly_apply.value_counts()

No    1000
Name: mobile_friendly_apply, dtype: int64